<nb-card>
  <nb-card-header>{{ title }}</nb-card-header>
  <nb-card-body [formGroup]="profileForm" *ngIf="!!payload">
      <input *ngFor="let form of payload.forms"
      type={{form.type}}
      formControlName={{form.name}}          
      nbInput 
      fullWidth 
      fieldSize={{form.fieldSize}}
      placeholder={{form.placeholder}}>
  </nb-card-body>
  <nb-card-footer>
    <button nbButton hero status="primary" (click)="onClickGeneral()">{{ dialogType }}</button>
    <button nbButton hero status="danger" (click)="dismiss()">Cancel</button>
  </nb-card-footer>    
</nb-card>