<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Pie Dynamic</nb-card-header>
      <nb-card-body>
        <ngx-chartjs-pie-dynamic></ngx-chartjs-pie-dynamic>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Bar Dynamic</nb-card-header>
      <nb-card-body>
        <ngx-chartjs-bar-dynamic></ngx-chartjs-bar-dynamic>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Line Dynamic</nb-card-header>
      <nb-card-body>
        <ngx-chartjs-line-dynamic></ngx-chartjs-line-dynamic>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Multiple x-axis Dynamic</nb-card-header>
      <nb-card-body>
        <ngx-chartjs-multiple-xaxis-dynamic></ngx-chartjs-multiple-xaxis-dynamic>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Bar Horizontal Dynamic</nb-card-header>
      <nb-card-body>
        <ngx-chartjs-bar-horizontal-dynamic></ngx-chartjs-bar-horizontal-dynamic>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Radar Dynamic</nb-card-header>
      <nb-card-body>
        <ngx-chartjs-radar-dynamic></ngx-chartjs-radar-dynamic>
      </nb-card-body>
    </nb-card>
  </div>
</div>
